/*General styles*/
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Bebas neue";
    color: white;
}

body p {
    font-family: "Ubuntu Sans";
}

body, header {
    background-image: url("/images/angels.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    align-items: center;
    padding: 0px;
}

main {
    position: relative;
    top: 120px;
    width: 100%;
    text-align: center;
    padding: 50px;
}

aside {
    top: 250px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 40px;
}

p {
    font-size: 16px;
}

a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}


/*Header element styles*/
#menu-button {
    display: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#my-name, .header nav {
    display: flex;
    margin-bottom: 0px;
}

.header div {
    flex-grow: 1;
    font-size: 26px;
    margin-left: 35px;
}

.header a {
    margin-right: 40px;
    margin-left: 40px;
    transition: all 0.3s ease;
}

.header a:hover {
    transform: scale(1.3);
}

.header {
    height: 120px;
    width: 100%;
    position: fixed;
    z-index: 2;
}

#top-menu {
    position: fixed;
    right: 0;
}


/*Aside element styles*/
.icons {
    width: 30px;
    height: 30px;
    margin: 0px auto 140px;
    align-self: flex-start;
    transition: transform 0.3s ease;
}

.icons:hover {
    transform: scale(1.1);
}


/*Side menu styles*/
#side-menu {
    display: block;
    visibility: hidden;
}


/*Smaller screens*/
@media (max-width: 768px) {
    /*General styles*/
    main {
        width: 100%;
        text-align: center;
        padding: 50px;
    }
    
    header {
        display: flex;
        align-items: center;
        padding: 0px 10px;
        justify-content: space-between;
    }
    
    aside {
        display: none;
    }


    /*Header element styles*/
    #menu-button {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    .header a {
        display: none;
    }


    /*Side menu styles*/
    #side-menu {
        position: fixed;
        top: 0;
        right: -768px;
        width: 100%;
        height: 100%;
        background-color: black;
        padding-top: 100px;
        text-align: center;
        transition: all 1s ease-in-out;
    }

    #side-menu h1 {
        padding: 0px;
        font-size: 50px;
    }
    
    #side-menu a {
        display: block;
        color: white;
        padding: 15px;
        text-decoration: none;
        font-size: 22px;
    }
    
    #side-menu.show-menu {
        right: 0;
        visibility: visible;
    }
    
    #side-menu .icons {
        display: inline-block;
        padding: 0px;
        margin-top: 30px;
    }
}